.about{
    padding: 100px 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}

.about .about-text h2{
    font-size: var(--font-title-2);
    margin-bottom: var(--margin-bottom);
}

.about .about-text p{
    font-size: var(--font-paragrapy);
    margin-bottom: var(--margin-bottom);
}

@media (min-width:920px){
    .about{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
}