.home{
    background-image: url('../../images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left center;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    

}

.home-text {
   width: 80%;
}


.home h1{
    font-size: var(--font-title-1);
    margin-bottom: var(--margin-bottom);
    line-height: 1.25;
}

.home p{
    color: var(--color-white);
    font-size: var(--font-paragrapy);
    margin-bottom: var(--margin-bottom);
}

.social-links{
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-white);
}

.social-links i{
    margin-right: .80rem;
}


@media (min-width: 920px) {
    .home{
      background-position: right;
    }

    .home-text{
        width: 30%;
    }
}